:root{
  --scrollbar-thumb: var(--text-muted);
  --special: #7af0ff;
}

/* Import font: fraunces-800 - latin (https://github.com/undercasetype/Fraunces) */
@font-face{
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 800;
  src: local(''),
       url('fonts/fraunces-v10-latin-800.woff2') format('woff2'),
       url('fonts/fraunces-v10-latin-800.woff') format('woff');
}

.logo,
.special{
  font-weight: 800;
  font-family: 'Fraunces', serif;
}
.logo{
  font-size: 3.5em;
  margin: 10px 0;
  padding: 0 0 10px 0;
}
.special{
  color: var(--special);
}
.special svg{
  display: inline-block;
  margin: 0 3px 0 0;
  width: 1.2em;
  height: 1.2em;
  vertical-align: -2px;
}
.special svg path{
  fill: var(--special);
}
footer{
  font-size: small;
}
footer .credits,
footer .links{
  display: inline-block;
}
footer .credits img{
  max-width: 100px;
  vertical-align: middle;
}
footer .links{
  float: right;
  margin: 10px 0;
}
.poster{
  border-radius: 8px;
}
.top-movie .col{
  padding: 10px;
}
.more-movies{
  display: flex;
  overflow-x: auto;
}
.more-movies .movie-element{
  display: inline-block;
  flex-shrink: 0;
  padding: 10px 10px 0 0;
  width: 120px;
}
.more-movies .movie-element p{
  font-size: 0.9em;
  text-align: center;
}
.more-movies .movie-element .poster{
  width: 100px;
  height: 150px;
  display: block;
  margin: 0 auto;
}

.star{
  display: inline-block;
  margin: 0 3px 0 0;
  width: 1.2em;
  height: 1.2em;
  vertical-align: -2px;
}
.star path{
  fill: yellow; /* fallback */
  fill: var(--highlight);
}
.loader{
  display: inline-block;
  margin: 0 5px;
  width: 1.2em;
  height: 1.2em;
  vertical-align: middle;
  animation: spin 2s linear infinite;
}
.loader path{
  fill: white; /* fallback */
  fill: var(--text-bright);
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media(min-width: 30em){ /* DESKTOP */
  .row{
    width: 100%;
    display: table;
    table-layout: fixed;
  }
  .col{
    display: table-cell;
    vertical-align: middle;
  }
}
@media(max-width: 30em){ /* MOBILE */
  .top-movie .col:first-child{
    text-align: center;
  }.top-movie .col:first-child .poster{
    display: block;
    margin: 0 auto;
  }
  .logo{
    text-align: center;
    font-size: 3em;
    border-bottom: 2px solid white;
  }
  button.watch{
    width: 100%;
  }
  footer .credits,
  footer .links{
    width: 100%;
    display: block;
    text-align: center;
  }
  footer .credits img{
    margin: 0 5px;
  }
}
